.cen{
	text-align: center;
	min-height: 100vh;
	height: auto;
	background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/lighthouse.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: white;
}
.item{
	margin: 50px;

}
.item:after{
	content: "";
  display: table;
 	clear: both;
}
ul{
	list-style-type: none;
	display: inline-block;
}
#a ul{
	display: inline-block;
	min-width: 300px;
	float: left;
}
.item p{
	font-size: 1.5em;
}
.item li{
	padding: 5px;
}
.social li{
	display: inline-block;
}
.social a{
	color: black;
	font-size: 1.5em;
	text-decoration: none;
}
.social a:hover{
	color: gray;
	text-decoration: underline;
}
.comp li{
	font-size: 1.5em;
}
@media (pointer: coarse){
		.nav {
			display: none;
		}
		.wrapper{
			position: relative;
			transform: translateY(0%);
		}
		.cen{

			min-height: 100vh;
			height: 100%;
		}
		h1{
			font-size: 10em;
		}
		h3{
			font-size: 7em;
		}
		h4, h5{
			font-size: 5em;
		}
		p, li h5{
			font-size: 3em;
		}
		.social, .comp, .lang{
			font-size: 2em;
		}
		.social li{
			display: block;
		}
		#a ul{
			display: block;
			width: 100%;

		}
		#a li p{
			font-size: 3em;
		}
		a{
			font-size: 3em;
		}
}
