@import url('https://fonts.googleapis.com/css?family=Quicksand:300');

/* Global Attributes */
* {
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	margin: 0px;
	padding: 0px;
}
h1{
  font-size: 6em;
  margin: 10px;
}
h2 {
}
h3 {
  font-size: 4em;
  margin: 10px;
}
h4 {
  font-size: 2em;
}
h5 {
  font-size: 1.5em;
}
h6 {

}
p {
  font-size: 1em;
  margin: 10px;
}
a{
  margin: 3% 0% 3% 0%;
	text-decoration: none;
	font-size: 2em;
  color: black;
}
a:hover{
	color: gray;
}

/* Attributes For The Menu Button */
.container {
	display: inline-block;
	cursor: pointer;
	position: fixed;
	top: 1%;
	right: 1%;
	z-index: 3;
}
.bar1, .bar2, .bar3 {
    width: 80px;
    height: 10px;
    background-color: black;
    margin: 10px 0;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    transform: rotate(-45deg) translate(-10px, 10px);
		background-color: white;
}
.change .bar2 {
	opacity: 0;
	background-color: white;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
    transform: rotate(45deg) translate(-18px, -18px);
		background-color: white;
}

/* Attributes For Menu Screen */
.nav{
	z-index: 2;
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.9);
}
.nav ul{
	list-style: none;
	line-height: 4em;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.nav a{
  color: white;
}
.nav a:hover{
	text-decoration: underline;
}
.nav li {
  display: block;
}

/* Attribute That Hids Items */
.not_active{
		display: none;
}

/* Attribute For The Slide Up Animation for Every Page */
.top{
	width: 100%;
	height: 100vh;
	position: relative;
}
.wrap{
	position: absolute;
  height: auto;
  width: 100%;
	top: 50%;
  left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
  opacity: 0;
	padding-top: 100px;
    -webkit-transition: opacity 2s ease-in, padding-top 1s ease-out;
       -moz-transition: opacity 2s ease-in, padding-top 1s ease-out;
        -ms-transition: opacity 2s ease-in, padding-top 1s ease-out;
         -o-transition: opacity 2s ease-in, padding-top 1s ease-out;
            transition: opacity 2s ease-in, padding-top 1s ease-out;
}
.wrap.load {
    opacity: 1;
    padding-top: 0px;
}
.nav, .wrap{
	text-align: center;;
}

/* Styles For Mobile And Touch Screen Devices */
.top{
  height: auto;
  margin-bottom: 5em;

}
.wrap{
  transform: translateY(0%);
  position: relative;
}
h1{
  font-size: 9em;
}
h3{

  font-size: 7em;
}
h4 {
  font-size: 6em;
}
h5{
  font-size: 5em;
}

a{
  font-size: 4em;
}
