nav {
  margin-bottom: 50px;
}

.container {
  width: 71vw;
  margin: 100px auto;
  display: block;
  position: relative;
}

/* clearfix hack */
.container:after {
  content: "";
  display: table;
  clear: both;
}

.logo-container {
  display: inline-block;
  position: absolute;
  width: 50%;
  height: 100%;
  float: left;
  background-image: url(/img/logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.name-container {
  display: inline-block;
  width: 49%;
  height: 100%;
  float: right;
  position: relative;
  border-left: 1px solid #000;
}

.name-container h1 {
  font-size: 144px;
  font-weight: 400;
  padding-left: 60px;
}
