@import url('https://fonts.googleapis.com/css?family=Quicksand:300');
*{
	text-align: center;	
	font-family: 'Quicksand', sans-serif;
	margin: 0px;
	padding: 0px;
}
h1{
	font-size: 16vh;
	font-weight: 800;
	letter-spacing: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
div{
	height: 100vh;
	width: 100%;
	position: relative;
}
h3{
	font-weight: 400;
	font-size: 10vh;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#one{
	background-image: url('img/projects.png');
}
#two{ 
	background-image: url('img/design.png');
	
}
#three{
	background-image: url('img/about.png');
}
.image{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center, center;
	background-attachment: fixed;
}
.space{
	display: none;
}
.top{
	height: 100vh;
	position: relative;
}

.top h1 {
    opacity: 0;
	padding-top: 100px;
    -webkit-transition: opacity 2s ease-in, padding-top 1s ease-out;
       -moz-transition: opacity 2s ease-in, padding-top 1s ease-out;
        -ms-transition: opacity 2s ease-in, padding-top 1s ease-out;
         -o-transition: opacity 2s ease-in, padding-top 1s ease-out;
            transition: opacity 2s ease-in, padding-top 1s ease-out;
}

.top h1.load {
    opacity: 1;
    padding-top: 0px;
}