h1{
	font-size: 16vh;
	font-weight: 800;
	letter-spacing: 2px;
}
div{
	height: 100vh;
	width: 100%;
	position: relative;
}
h3{
	font-weight: 400;
	font-size: 10vh;
	color: white;
	margin: 0px;
}
a{
		color: white;

}
#one{
	background-image: url('../img/projects.png');
}
#two{
	background-image: url('../img/design.png');

}
#three{
	background-image: url('../img/about.png');
}
.image{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center, center;
	background-attachment: fixed;
}
.space{
	display: none;
}
@media (pointer: fine){
	.image a{
		letter-spacing: normal;
		-webkit-transition: letter-spacing 1s ease-in;
			 -moz-transition: letter-spacing 1s ease-in;
				-ms-transition: letter-spacing 1s ease-in;
				 -o-transition: letter-spacing 1s ease-in;
						transition: letter-spacing 1s ease-in;
	}
	.image a:hover{
		letter-spacing: 5px;
		-webkit-transition: letter-spacing 1s ease-in;
			 -moz-transition: letter-spacing 1s ease-in;
				-ms-transition: letter-spacing 1s ease-in;
				 -o-transition: letter-spacing 1s ease-in;
						transition: letter-spacing 1s ease-in;
	}
}
@media (pointer: coarse) {
	h1 {
		font-size: 15em;
	}
}
