.desktop {
    display: none;
}

.mobile {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 0px;
    width: auto;
    cursor: pointer;
}

.menu-bar {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.change.mobile-menu {
    display: block;
    position: fixed;
    top: 55px;
    background-color: #fff;
    right: 20px;
    padding: 20px;
    text-align: center;
     box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    text-align: center;
    width: 200px;
}

.change img {
    margin: auto;
    margin-bottom: 10px;
}
