.container {
    display: block;
}

.logo {
    width: 50%;
}

.left-container {
  float: none;
}

.right-container {
  float: none;
}

.half-width, .third-width, .two-thirds-width {
    width: 100%;
}

.at-2, .at-3, .at-4, .at-5 {
    margin-top: -128px;
}

.list-item {
    display: block;
    text-align: center;
    width: 100%;
}

.project-logo {
    width: 100%;
}
