@import url('https://fonts.googleapis.com/css?family=Quicksand:300');

*{
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
}
.nav{
	z-index: 2;
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.9);
}
.not_active{
		display: none;
}
.container {
	display: inline-block;
	cursor: pointer;
	position: fixed;
	top: 1%;
	right: 1%;
	z-index: 3;
}
.bar1, .bar2, .bar3 {
    width: 80px;
    height: 10px;
    background-color: #333;
    margin: 10px 0;
    transition: 0.4s;
}
.nav li{
	list-style: none;
	text-align: center;
	line-height: 3em;
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	color: white;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    transform: rotate(-45deg) translate(-10px, 10px);
}
.nav li a:hover{
	text-decoration: underline;
}
.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
    transform: rotate(45deg) translate(-18px, -18px);
}
.cont{
	display: inline-block;
	width: 100%;
	min-height: 100vh;
	background-color: white;
	position: relative;
}
.left{
	display: block;
	width: 50%;
	float: left;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.right{
	display: inline-block;
	width: 50%;
	float: right;
	top: 50%;
	min-height: 100vh;
}
h1{
	font-size: 6vw;
}
h3{
	font-size: 4vw;
	margin-bottom: 20px;
}
p{
	font-size: 2.5vw;
	line-height: 3.5vw;
	padding: 0px 3.5vw 0px 3.5vw;
}
a{
	margin: 3% 0% 3% 0%;
	color: black;
	text-decoration: none;
	font-size: 2vw;
}
a:hover{
	color: gray;
}
.top{
	width: 100%;
	height: 100vh;
	position: relative;
}
.wrap{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	overflow: hidden;
  opacity: 0;
	padding-top: 100px;
    -webkit-transition: opacity 2s ease-in, padding-top 1s ease-out;
       -moz-transition: opacity 2s ease-in, padding-top 1s ease-out;
        -ms-transition: opacity 2s ease-in, padding-top 1s ease-out;
         -o-transition: opacity 2s ease-in, padding-top 1s ease-out;
            transition: opacity 2s ease-in, padding-top 1s ease-out;
}
img {
	display: none;
}
.wrap.load {
    opacity: 1;
    padding-top: 0px;
}
@media (pointer: coarse) {
	.top{
		height: auto;
		margin-bottom: 5em;

	}
	.wrap{
		transform: translateY(0%);
		position: relative;
	}
	body{
		margin: 5px;
	}
	.cont{
		display: block;
		min-height: 0px;
		height: 100%;
	}
	.left {
		width: 100%;
		position: relative;
		float: none;
		min-height: 0px;
		height: 100%;
		transform: translateY(0%);
	}
	.right {
		display: none;
	}
	img{
		margin-top: 10px;
		display: block;
		width: 100%;
	}
	h1{
		font-size: 9em;
	}
	h3{
		padding-top: 20px;
		font-size: 7em;
	}
	h4 {
		font-size: 6em;
	}
	p{
		font-size: 4em;
		line-height: 2em;
	}
	a{
		font-size: 4em;
	}
}
