@import url('https://fonts.googleapis.com/css?family=Lato');
/* Global Variables */
body {
  padding: 0px;
  margin: 0px;
  font-family: 'Lato', sans-serif;
	text-align: center;
	font-size: 2em;
}

/* Sections */
section{
	margin: 10px;
}
main{
  width: 100vw;
}

.urgent{
  color: rgb(0, 0, 0);
  border: 3px solid rgb(0, 0, 0);
}

.daily{
  color: rgb(107, 107, 107);
  border: 3px solid rgb(107, 107, 107);
}

/* Hide Section */
.hidden{
	display: none;
}

/* Single items */
button{
	border: 2px solid black;
  background-color: white;
  padding: 10px;
  margin: 10px;
}

button:hover{
	background-color: rgb(181, 181, 181);
	border-width: 3px;
}

ul{
  color: rgb(107, 107, 107);
	text-align: left;
	list-style: none;
}
