<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sher Shah | {{ page.title }}</title>
    <link type="text/css" rel="stylesheet" href="{% link css/post.scss %}">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900&display=swap" rel="stylesheet">
    <style>body {background-color: {{ page.color }} ;}</style>
  </head>
  <body>
    <nav>
      <a href="/test2.html#exp"><img src="/img/back_arrow.svg"></a>
    </nav>
    <section>
      {{ content }}
    </section>
  </body>
</html>
